<!-- This is shows the list of posts -->
<!doctype html>
<html lang="en">
<head>
    <title>List of Posts</title>
    <!-- Linking my CSS -->
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <h1>List of Posts on <span class="forum-name"><%= forumName %></span></h1>
    <% if (posts.length === 0) { %>
        <p>No posts available.</p>
    <% } else { %>
        <!-- Loop through the posts and display them -->
        <% posts.forEach(function(post) { %>
            <div class="post-container">
                <div class="post-title"><%= post.title %></div>
                <div class="post-content"><%= post.content %></div>
                <div class="post-meta">
                    Posted by: <%= post.username %> on <%= post.postDate.toDateString() %>
                </div>
            </div>
        <% }); %>
    <% } %>
    <!-- Link to the homepage -->
    <div class="return-home">
        <a href="/">Return Home</a>
    </div>
</body>
</html>
